body{
    background-color: black;
    background-image: url(/images/searchCity.jpg);
    background-repeat: none;
    background-size: cover;

}
*{
    color: black;
}

#searchField{
    background-color: rgba(234, 230, 230, 0.419);
}
.card, .list-group-item{
    background-color: rgba(240, 248, 255, 0.345);
    color: black
}
